@model IEnumerable<ProyectoFinal.Models.Medicos>

@{
    ViewBag.Title = "Tabla Médicos";
}

<h2>Tabla Médicos</h2>
<div>
    @using (Html.BeginForm("Index", "Medicos", FormMethod.Post))
    {
        <h5>Consultar</h5>
        <div class="row">
            <select name="select" class="form-control col col-lg-2" required="required">
                <option value="">Opciones</option>
                <option value="Nombre">Nombre</option>
                <option value="Especialidad">Especialidad</option>
            </select>

            @Html.TextBox("buscar", "", new { @class = "form-control col-md-4", placeholder = "Consulta", required = "required" })

        <div class="col-2">
            <button type="submit" class="btn btn-danger">Consultar</button>
            <button onclick="reportepdf()" class="btn btn-danger">Imprimir</button>
        </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("--Create New ", "Create")
</p>
<table class="table" id="documento">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exequatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exequatur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdMedicos }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdMedicos }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdMedicos })
            </td>
        </tr>
    }

</table>
