@model IEnumerable<ProyectoFinal.Models.Citas>

@{
    ViewBag.Title = "Index";
}

<h2>Tabla Citas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre Médico")
        </th>
        <th>
            @Html.DisplayName("Nombre Paciente")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medicos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCitas }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCitas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCitas })
        </td>
    </tr>
}

</table>
