@model IEnumerable<ProyectoFinal.Models.Citas>

@{
    ViewBag.Title = "Tabla Citas";
}

<h2>Tabla Citas</h2>
<div>
    @using (Html.BeginForm("Index", "Citas", FormMethod.Post))
    {
        <h5>Consultar</h5>
        <div class="row">
            <select name="select" class="form-control col col-lg-2", required="required">
                <option value="">Opciones</option>
                <option value="Fecha">Fecha</option>
                <option value="Doctor">Doctor</option>
                <option value="Paciente">Paciente</option>
            </select>

            @Html.TextBox("buscar", "", new { @class = "form-control col-md-4", placeholder = "Consulta", required = "required" })

            <div class="col-2">
                <button type="submit" class="btn btn-danger">Consultar</button>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("--Create New ", "Create")
    @Html.ActionLink("--Print", "Imprimir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre Médico")
        </th>
        <th>
            @Html.DisplayName("Nombre Paciente")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdCitas }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdCitas }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCitas })
            </td>
        </tr>
    }

</table>
