@model IEnumerable<ProyectoFinal.Models.Habitaciones>

@{
    ViewBag.Title = "Tabla Habitaciones";
}

<h2>Tabla Habitaciones</h2>
<div>
    @using (Html.BeginForm("Index", "Habitaciones", FormMethod.Post))
    {
        <h5>Consultar</h5>
        <select name="buscar" class="form-control col col-lg-2">
            <option value="">Selecciona</option>
            <option value="Doble">Doble</option>
            <option value="Privada">Privada</option>
            <option value="Suite">Suite</option>
        </select>

        <div class="col-2">
            <button type="submit" class="btn btn-danger">Buscar</button>
        </div>
    }
</div>
<p>
    @Html.ActionLink("--Create New ", "Create")
    @Html.ActionLink("--Print", "Imprimir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Número")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdHabitacion }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdHabitacion }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdHabitacion })
            </td>
        </tr>
    }

</table>

