
@{
    ViewBag.Title = "Consultas";
}
<br />
<h2>Consultas</h2>
<br />
<div class="container mt-5">
    <div>
        <div class="row">
            <div class="col-4">
                <div class="card border-info" style="width: 18rem;">
                    <img src="~/img/medicos.jpg" class="card-img-top imagen-carta" alt="..." width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title"><b>Médicos</b></h5>
                        <p class="card-text" align="justify">En el siguiente módulo se pueden realizar consultas en la tabla médicos </p>

                        @Html.ActionLink("Llévame al módulo", "Index", "Home", "", new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="col-4">
                <div class="card border-info" style="width: 18rem;">
                    <img src="~/img/paciente.jpg" class="card-img-top imagen-carta" alt="..." width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title"><b>Pacientes</b></h5>
                        <p class="card-text" align="justify">En el siguiente modulo se pueden realizar consultas en la tabla pacientes</p>
                        @Html.ActionLink("Llévame al módulo", "Index", "Home", "", new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="col-4">
                <div class="card border-info" style="width: 18rem;">
                    <img src="~/img/habitacion.jpg" class="card-img-top imagen-carta" alt="..." width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title"><b>Habitaciones</b></h5>
                        <p class="card-text" align="justify">En el siguiente modulo se pueden realizar consultas en la tabla habitaciones</p>
                        @Html.ActionLink("Llévame al módulo", "Index", "Home", "", new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <div class="row">
                <div class="col-4">
                    <div class="card border-info" style="width: 18rem;">
                        <img src="~/img/citas.jpg" class="card-img-top imagen-carta" alt="..." width="200px" height="200px">
                        <div class="card-body">
                            <h5 class="card-title"><b>Citas Médicas</b></h5>
                            <p class="card-text" align="justify">En el siguiente modulo se pueden realizar consultas en la tabla citas</p>
                            @Html.ActionLink("Llévame al módulo", "Index", "Home", "", new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-4">
                    <div class="card border-info" style="width: 18rem;">
                        <img src="~/img/ingreso.jpg" class="card-img-top imagen-carta" alt="..." width="200px" height="200px">
                        <div class="card-body">
                            <h5 class="card-title"><b>Ingresos</b></h5>
                            <p class="card-text" align="justify">En el siguiente modulo se pueden realizar consultas en la tabla ingresos</p>
                            @Html.ActionLink("Llévame al módulo", "Index", "Home", "", new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-4">
                    <div class="card border-info" style="width: 18rem;">
                        <img src="~/img/alta.jpg" class="card-img-top imagen-carta" alt="..." width="200px" height="200px">
                        <div class="card-body">
                            <h5 class="card-title"><b>Alta médica</b></h5>
                            <p class="card-text" align="justify">En el siguiente modulo se pueden realizar consultas en la tabla altas</p>
                            @Html.ActionLink("Llévame al módulo", "Index", "Home", "", new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


