@model IEnumerable<ProyectoFinal.Models.Altas>


@{
    ViewBag.Title = "Tabla Altas";
}

<h2>Tabla Altas</h2>
<div>
    @using (Html.BeginForm("Index", "Altas", FormMethod.Post))
    {
        <h5>Consultar</h5>
        <div class="row">
            <select name="select" class="form-control col col-lg-2" required="required">
                <option value="">Opciones</option>
                <option value="Paciente">Paciente</option>
                <option value="Fecha">Fecha Salida</option>
            </select>

            @Html.TextBox("buscar", "", new { @class = "form-control col-md-4", placeholder = "Consulta", required = "required" })

        <div class="col-2">
            <button type="submit" class="btn btn-danger">Consultar</button>
            <button onclick="reportepdf()" class="btn btn-danger">Imprimir</button>
        </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("--Create New ", "Create")
</p>
<table class="table" id="documento">
    <tr>
        <th>
            @Html.DisplayName("Fecha de salida")
        </th>
        <th>
            @Html.DisplayName("Fecha de ingreso")
        </th>
        <th>
            @Html.DisplayName("Monto Habitación")
        </th>
        <th>
            @Html.DisplayName("Nombre Paciente")
        </th>
        <th>
            @Html.DisplayName("Número Habitación")
        </th>
        <th>
            @Html.DisplayName("Total a pagar")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Pagar)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdAltas }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdAltas }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdAltas })
            </td>
        </tr>
    }

</table>

<center>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Ver operaciones
    </button>
</center>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h2 class="modal-title" id="exampleModalLabel"><b>Operaciones</b></h2>
                </center>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <center>
                    <h4><b>Sumatoria del total a pagar:</b></h4>@ViewBag.total
                    <h4><b>Total de busqueda:</b></h4>@ViewBag.cont
                    <h4><b>Total a pagar mínimo:</b></h4>@ViewBag.min
                    <h4><b>Total a pagar máximo:</b></h4>@ViewBag.max
                    <h4><b>Promedio del total a pagar:</b></h4>@ViewBag.prom
                </center>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                </center>
            </div>
        </div>
    </div>
</div>

